<header>
    <span>Groceryz</span>

    <nav>
        <ul>
            <li>
                <a routerLink="/home">
                    Home
                </a>
            </li>
            
            <li>
                <a routerLink="/browse">
                    Browse
                </a>
            </li>
            
            <li>
                <a routerLink="/cart">
                    Cart ({{ currentCount }})
                </a>
            </li>
        </ul>
    </nav>
</header>
