<main>
    <h1>Cart</h1>

    <p *ngIf="products.length === 0">
        Your shopping cart is empty! Go <a routerLink="/browse">browse</a> our items, and stock up!
    </p>

    <section *ngIf="products.length !== 0">
        <app-products-list
            [products]="products"
        ></app-products-list>
    
        <div>
            <p>
                TOTAL: {{ formattedTotal }}
            </p>
        
            <button 
                (click)="handleCheckout()"
                title="ALL PURCHASES FINAL; NO REFUNDS"
            >
                CHECKOUT
            </button>
        </div>
    </section>
</main>
