a {
    color: #a6120d;
    font-weight: bold;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-right: 20px;
}

section div button {
    border: 1px solid #a6120d;
    background-color: #a6120d;
    border-radius: 5px;
    padding: 5px;
}
