<article class="cart-item">
    <p class="math-symbol">x</p>

    <div>
        <button 
            (click)="topFunction()"
            [ngClass]="topClass"
            [title]="topHover"
        >
            {{ topText }}
        </button>
        
        <p>{{ cartTally }}</p>
        
        <button 
            (click)="removeProductFromCart()"
            [title]="downHover"
        >
            -
        </button>
    </div>

    <p class="math-symbol">=</p>

    <p>{{ formattedTotal }}</p>
</article>
